.details-crew {
  &__item {
    flex-shrink: 0;
    padding: 6px;
    margin: 8px;
    background-color: rgba(52.5, 73.5, 94.5, 0.3);
    border-radius: 20px;
    @media screen and (max-width: 560px) {
      padding: 4px;
      font-size: 8px;
      margin: 4px;
    }
  }
}
