.title {
  font-size: 1em;
  font-weight: 700;
  color: #000;
  margin: 0 0 8px 0;
}
.date {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}
.rate {
  font-size: 1em;
  color: rgba(6, 41, 122, 0.6);
}
.image {
  width: 100%;
  border-radius: 20px;
}
