.title {
  font-size: 1em;
  font-weight: 700;
  color: #000;
  margin: 0 0 8px 0;
}
.date {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}
.rate {
  font-size: 1em;
  color: rgba(6, 41, 122, 0.6);
}
.image {
  height: 290px;
  width: 200px;
  border-radius: 20px;
  background-image: url('./no-photo.png');
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 560px) {
    width: 160px;
    height: 240px;
  }
}
